<div class="flex flex-col gap-y-10">

  <div class="flex place-content-center">
    <h2>Angular App 16 w/tailwind</h2>
  </div>

  <div class="">
    Column 2

    <div class="flex flex-row">
        <!-- basis-{size} sets the initial size of flex items -->
        <div class="basis-1/3">Row 1</div>
        <div class="basis-1/3">
            <div class="flex flex-col justify-center items-center">
              <div>Row 2a</div>
              <div>
                Row 2b has more text
              </div>
            </div>
        </div>
        <div class="basis-1/3 flex place-content-end self-end ">
          Row 3</div>
       </div>
  </div>


  <div>
    Column 3
  </div>

  <!-- gap-x-2.5 is a 10px horizontal gap -->
  <div class="flex flex-row gap-x-2.5">
    <!-- basis-{size} sets the initial size of flex items -->
    <div class="basis-1/3">Row 1</div>
    <div class="basis-1/3 flex place-content-center">
      <div class="flex flex-col ">
        <div>Row 2a</div>
        <div>Row 2b has more text</div>
      </div>
    </div>
    <div class="basis-1/3 flex place-content-end self-end ">
      Row 3</div>
  </div>
</div>



<div>
  Column 5
</div>
