<div class="flex flex-col">


  <div class="relative flex place-content-center mt-[50px] w-full">
    <!-- B I G     I M A G E   -->
    <img src="./assets/images/landscape.png" alt="Landscape" class="w-1/2"/>

    <div class="absolute top-0 left-0 w-full h-full flex items-center place-content-center">
      <!-- Login Button is Centered horizontally and vertically -->
      <button type="button" mat-raised-button>Login Btn</button>
    </div>
  </div>

  <div class="flex place-content-center mt-5">
    If you need help logging-in
  </div>

  <div class="flex place-content-center">
    Help Btn
  </div>

</div>
